*
{
margin: 0;
padding: 0;
}
<!--Noa ci Colors-->
.noablack {
  color:#343a40;
}
.noadgreen2 {
  color:#037F8C;
}
.noagreen1 {
  color:#7ED0D9;
}
.noawhite {
  color:#FFFFFF;
}
.noa-font1 {
  font-family: Helvetica, sans-serif;
}
.noa-font2 {
  font-family: Helvetica, sans-serif;
}

header
{
    background-image: linear-gradient(rgba(126, 208, 217,0.8),rgba(3, 127, 140,0.8)),url(noabackground.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
}
.hero {
top: 50%;
left: 50%;
position: absolute;
transform: translate(-50%,-50%);
color: #343a40;
text-align: center;
}
h1{
    font-size: 60px;
    letter-spacing: 15px;
    font-family: 'Oswald',sans-serif
}

hr{
    width: 50%;
    margin:30px auto;
    border: 3 solid;
    border-color: #343a40;
}

p{
    font-size: 20px;
    margin-bottom: 30px;
    letter-spacing: 10px;
    font-family: 'inter', sans-serif;
}